**/bin
**/obj
packages
.vs/
~$otos from Windows spotlight.docx
/Photos Windows spotlight/_ReSharper.Caches/ReSharperPlatformVs16212_e1631f68.Photos Windows spotlight.00
/Photos Windows spotlight/_ReSharper.Caches/ReSharperPlatformVs17213_14942f43.Photos Windows spotlight.00
